.container {
   height: 250px;
   width: 90%;
   position: relative;
   overflow: hidden;
   margin: 0 auto;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.banr {
   position: absolute;
   overflow: hidden;
   white-space: nowrap;
   animation: scroll 40s linear infinite;
   font-size: 0;
}

@keyframes scroll {
   0% {
      transform: translateX(-50%);
   }

   100% {
      transform: translateX(0);
   }
}

.profile {
   width: calc(100vw / 5);
   display: inline-flex;
   align-items: center;
   padding: 15px;
   font-size: initial;
}

.profile>img {
   width: 100%;
   height: auto;
}