* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   /* box-sizing: border-box; */
}

/* #ff9f5a */
/* #ff6b00 */


@font-face {
   font-family: 'LexendExtraBold';
   src: url('assets/fonts/Lexend-ExtraBold.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
}

@font-face {
   font-family: 'LexendBold';
   src: url('assets/fonts/Lexend-Bold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'LexendRegular';
   src: url('assets/fonts/Lexend-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'RobotoLight';
   src: url('assets/fonts/Roboto-Light.ttf') format('truetype');
   font-weight: 100;
   font-style: normal;
}

body {
   font-family: lexendregular, Arial, Helvetica;
   position: relative;
   background-color: #131313;
}

.navbar {
   padding-top: 20px;
   position: fixed;
   width: 100%;
   z-index: 10;
}

.navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-tab {
   display: flex;
   justify-content: right;
   flex-wrap: wrap;
   align-items: center;
   height: 100%;
   width: 100%;
}

.phone-nav {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   height: 100%;
}

.phone-nav>.logo {
   height: 50px;
   width: 60px;
   margin-left: 10px;
}

.phone-nav>.gear {
   top: 0px;
   margin-right: 10px;
}

.black-overlay {
   position: fixed;
   z-index: 15;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.75);
   /* display: none; */

}

.nav-hid {
   position: fixed;
   z-index: 25;
   right: 0px;
   background-color: rgba(255, 107, 0, 0.7);
   width: 60vw;
   height: 100vh;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* display: none; */
}

.side-nav {
   margin: 50px 10px 10px;
   padding-top: 20px;
}

.tri {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: end;
}

.left-tri {
   width: 40%;
   background-color: rgba(255, 165, 101, 0.7);
   height: 60%;
   clip-path: polygon(0 0, 100% 100%, 0 100%);
   background: linear-gradient(90deg, rgba(255, 143, 63, 0.2), rgba(255, 107, 0, 0.3));
}

.right-tri {
   width: 60%;
   height: 100%;
   clip-path: polygon(100% 0, 100% 100%, 0 100%);
   background: linear-gradient(90deg, rgba(255, 121, 25, 0.1), rgba(255, 150, 3, 0.2));
}

.triangle {
   width: 200px;
   aspect-ratio: 1;
   clip-path: polygon(0 0, 100% 100%, 0 100%);
   background: linear-gradient(90deg, red, lightblue);
}

.mob-tab {
   position: relative;
   top: 20px;
}

.side-nav>div>h3 {
   margin-top: 20px;
   font-family: RobotoRegular, sans-serif;
   font-size: 1.3rem;
   letter-spacing: 1px;

}

.mob-link {
   text-decoration: none;
   color: #ffffff;
}

.cross {
   text-align: center;
   font-size: 40px;
   color: #ffffff;
   position: relative;
   bottom: -100px;
}

.logo {
   height: 90px;
   width: 100px;
   margin: 0px 15px;
}

.logo>img {
   background-size: contain;
   height: 90px;
   width: 100px;
}

.gear {
   position: relative;
   top: -10px;
   left: 5px;
}

.gear>img {
   height: 4vw;
   width: 4vw;
}

.mob-gear>img {
   height: 40px;
   width: 40px;
   position: fixed;
   right: 35px;
   top: 35px;
   z-index: 30;
   display: none;
}

.gear>img {
   height: 4vw;
   width: 4vw;
}

.nav-btn>h3>a {
   font-family: sans-serif;
   font-size: 1.2rem;
   color: #fff;
   text-decoration: none;
   letter-spacing: 2px;
}

.nav-btn>h3 {
   padding: 0px 10px;
   width: 16vw;
   text-align: center;
}

.nav-btn>h3>a:hover {
   font-size: 1.3rem;
   transition: all 0.2s ease-in-out;
}

.banner {
   background-color: #ff6b00;
   background-image: url('assets/bg.svg');
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   height: calc(100vh + 25px);
   width: 100%;
}

.banner>div {
   display: flex;
   flex-direction: column;
   text-align: center;
   max-width: 60vw;

}

.title-text {
   font-size: 10vw;
   font-family: LexendExtraBold, sans-serif;
   color: #fff5cf;
}

.title-text+div>p {
   font-family: sans-serif;
   font-size: 1rem;
   color: #fff5cf;
   line-height: 2rem;
   letter-spacing: 1px;
   font-weight: thin;
   margin: 20px 20px 0px;
}

.overlay-box {
   background-color: #fff5cf;
   width: 100%;
   border-radius: 25px 25px 0px 0px;
   position: relative;
   bottom: 25px;
}

.body-content {
   /* background-color: #ff6b00; */
   width: 100%;
   position: relative;
   padding-bottom: 6rem;
}

.sponsor-type {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10 10px 0px;
}

.spon-title {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* background-color: red; */
}

.spon-title>h4 {
   font-size: 2.7vw;
   font-family: LexendBold, sans-serif;
   font-weight: 400;
   margin: 12px;

}

.spon-title>hr {
   width: 50%;
   height: 2px;
   border: none;
   background-image: linear-gradient(90deg,
         #ff9f5a 0%,
         #ff6b00 100%);
   border-radius: 10px;
}

.spon-list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.spon {
   margin: 1.3rem;
}

.spon-img {
   height: 22vw;
   width: 26vw;
   margin-top: 2rem;
   cursor: pointer;
   border-radius: 12px;
   background: url('assets/Sponsor.png') no-repeat center;
   background-size: 200%;
}

.spon-name {
   width: 100%;
   color: #ff6b00;
   font-weight: 200;
   font-size: 1.2rem;
   margin: 0.5rem;
}


.footer {
   bottom: 50px;
   background-color: #131313;
   padding: 20px;
}

.foot-content {
   width: 100%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: top;
   color: #ffffff;
   font-family: lexendRegular, sans-serif;
}

.f-logo-box {
   width: auto;
   margin: 90px 0px;
}

.f-logo-box>div {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: center;
   padding: 10px 0px;
}

.foot-gear {
   background-image: url('assets/gear.png');
   background-size: contain;
   background-repeat: no-repeat;
   height: 160px;
   width: 160px;
   margin: 30px 0px;

}

.foot-logo {
   background-image: url('assets/logo-white.svg');
   background-repeat: no-repeat;
   background-size: contain;
   width: 150px;
   height: 100px;
   margin: 30px 0px;
}

.logo-des {
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
   letter-spacing: 1px;
   font-size: 1.2rem;
   line-height: 30px;
   margin: 15px 0px;
}

.foot-text {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   color: #ffffff;
   margin: 90px 0px;
}

.foot-text>div {
   margin: 30px 20px;
   text-align: center;
}


.foot-text>div>h4 {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
   font-size: 2rem;
   margin: 10px 20px 50px;
}

.foot-text>div>p {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
   letter-spacing: 1px;
   font-size: 1.45rem;
   margin: 15px 0px;
}

.icons {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   margin: 20px 0px;
}

.icon {
   margin: 0px 20px;
   cursor: pointer;
   font-size: 50px;
   color: #ffffff;
}

.copyright {
   color: #ffffff;
   text-align: center;
   font-family: RobotoLight, sans-serif;
   letter-spacing: 1px;
   font-size: 1.45em;
   margin: 20px 0px;
}


/* Extra Small Devices (Phones) */
@media (max-width: 576px) {
   .nav-tab {
      display: none;
   }
}

/* Small Devices (Tablets, Large Phones) */
@media (min-width: 577px) and (max-width: 768px) {
   /* Styles for tablets and large phones */
}

/* Medium Devices (Laptops, Small Desktops) */
@media (min-width: 769px) and (max-width: 992px) {
   /* Styles for laptops */
}

/* Large Devices (Desktops) */
@media (max-width: 993px) {
   .nav-tab {
      display: none;
   }

   .mob-gear>img {
      display: block;
   }

   .left-tri {
      display: none;
   }

   .right-tri {
      width: 100%;
   }
}

/* Extra Large Devices (Large Screens, TVs) */
@media (min-width: 1201px) {
   /* Styles for very large screens */
}